@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.App {
  text-align: center;
  height: 100vh;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: rgb(253, 252, 252);
}
nav{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  width: 80%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

}
nav .logo {
font-weight: 800;
font-size: 2.6rem;
width: fit-content;
}
nav ul li {
 font-size: 1.2rem;
}
.content{
  width: 100%;
  height: calc( 100vh - 5rem);
  background-image: url("./images/lastbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  /* display: flex;
  align-items: flex-start;
  justify-content: space-between; */
}
.content_right,.content_left{
  
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;


}
.content_right{
  position: absolute;
  right: 0;
  top: 20%;
}
.content_left{
  position: absolute;
  left: 0;
  top: 20%;
  margin-left: 20px;

}
.title{
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  margin-bottom: 12px;

}
.title_secondary{
  color: grey !important;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.type_list{
  width: auto;
  width: 350px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.type_list_item{
  height: 45px;
  width: 45px;
  background-color: #bbb;
  border-radius: 50%;
  margin:0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around ;
}
.content_right_bottom{
  position: absolute;
  top: 85%;
  right: 0%;
  width: 350px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 20px;
  font-size: 1.4rem;
}
.content_right_bottom button{
  background: black;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 20px 40px;
  font-weight: bold;
  width:250px;
  margin: 10px 0;
}

.content_text h1{
  margin: 30px 0 10px 0;
}